<!-- start latest post -->
<div id="latest-post" class="latest-post ">
  <div class="container">
    <h2 class="text-center">Latest Posts</h2>
    <p class="descrption text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam velit ipsum officia. Perferendis repellendus quas ab modi cupiditate possimus placeat dolore, quos voluptatum qui minima asperiores animi, voluptatibus illo mollitia!</p>
    <div class="row">

      <div class="col-md-6 col-lg-4">
        <div class="card " >
          <img src="../../../img/l.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit</h5>
            <h6 class="card-subtitle mb-2 text-muted">March 24 2022</h6>
            <p class=" card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iure quo odio dolorum labore saepe ullam cupiditate provident</p>
            <a href="#" class="card-link">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4">
        <div class="card " >
          <img src="../../../img/m.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit</h5>
            <h6 class="card-subtitle mb-2 text-muted">March 24 2022</h6>
            <p class=" card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iure quo odio dolorum labore saepe ullam cupiditate provident</p>
            <a href="#" class="card-link">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4">
        <div class="card " >
          <img src="../../../img/n.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit</h5>
            <h6 class="card-subtitle mb-2 text-muted">March 24 2022</h6>
            <p class="  card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iure quo odio dolorum labore saepe ullam cupiditate provident</p>
            <a href="#" class="card-link">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end latest post -->






