<!-- start footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  col-lg-6">
        <div class="site-info">
          <h2><span>Elite</span><span>Corp</span></h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt vero at dicta odio culpa quisquam accusantium quasi aspernatur, debitis itaque voluptatum exercitationem soluta, ipsum quod, consectetur ullam illum dolorem. Perferendis!</p>
          <a href="#"><i class="fa fa-chevron-circle-right"></i> Read More</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="helpful-links">
          <h2>Helpful links </h2>
          <div class="row">
            <div class="col">
              <ul class="list-unstyled">
                <li>About</li>
                <li>Protofolio</li>
                <li>Team</li>
                <li>Price</li>
                <li>Privacy</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-unstyled">
                <li>FAQ</li>
                <li>Blog</li>
                <li>How it Work</li>
                <li>Benefist</li>
                <li>Contact</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="contact">
           <h2>Contact Us</h2>
           <ul class="list-unstyled">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Tanta, Gharbia, Egypt</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> Phone:+201 020 696 230 </li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="mailto:ah20192344@gmail.com?subject=contact"> ah20192344@gmail.com</a> </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->

<!-- start copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center text-sm-left text-uppercase">
        Copyright 2022 EliteCorp &copy;
      </div>
      <div class="col-sm-6 text-center text-sm-right">
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end copyright -->

